/*
** GENERAL
*/
* {
	margin: 0;
	padding: 0;
}

body {
	background: #D1D1D1 url(../img/bg.png) repeat;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
}
h1 {
	font-size: 1.5em;
	margin-bottom: 30px;
}
h2 {
	font-size: 1.3em;
	color: #444444;
	margin-bottom: 15px;
}
a {
	color: #2D7BE1;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #d60000;
}
a:active {
}
a:visited {
}
/* Rounded Borders */
.roundedBorders {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

input, textarea {
	margin: 5px;
	padding: 5px;
}
textarea {
	width: 450px;
}
label {
	margin-right: 20px;
}
.input {
	margin-bottom: 10px;
}
input[type='text'],input[type='password'], input[type='number'], textarea {
	background: #dddddd;
	border: 2px solid #aaaaaa;
}

input[type='submit'],a.linkStylized, button {
	color: #ffffff;
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
	background: #700000;
	background: -webkit-linear-gradient(top, #D60000, #700000);
	background: -moz-linear-gradient(top, #D60000, #700000);
	border: 1px solid #5C0000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
	text-decoration: none;
}

input[type='submit']:hover,a.linkStylized:hover, button:hover {
	background: #700000;
	background: -webkit-linear-gradient(top, #FF6666, #700000);
	background: -moz-linear-gradient(top, #FF6666, #700000);
}

form .required label:after,.required legend:after,.requiredLegend legend:after
	{
	color: #e32;
	content: '*';
	display: inline;
}

fieldset {
	border: none;
	margin: 5px 0;
}
.textarea label, .textarea textarea {
	display: inline-block;
	vertical-align: text-top;
}
/*
** HEADER
*/
#headerContainer {
	width: 100%;
	height: 40px;
	padding: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #3D0000;
	background: #700000;
	background: -webkit-linear-gradient(top, #D60000, #700000);
	background: -moz-linear-gradient(top, #D60000, #700000);
}

#header {
	width: 1034px;
	margin: 0 auto;
	height: 40px;
}

#title {
	float: left;
	margin-top: 2px;
}

#title a {
	color: #ffffff;
	text-decoration: none;
}

#title a:hover {
	color: #dddddd;
	text-decoration: none;
}

#title img {
	vertical-align: middle;
}

#menu {
	float: right;
}

#menu ul {
	list-style: none;
	border-left: 1px solid #000000;
}

#menu ul li {
	border-right: 1px solid #000000;
	display: inline-block;
	margin: 0;
	line-height: 40px;
	background: #0000ff;
	padding: 0 10px;
	margin-right: -4px;
	background: #ff8a7f; /* Old browsers */
	background: -moz-linear-gradient(top, #ff8a7f 0%, #cf0404 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8a7f),
		color-stop(100%, #cf0404) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff8a7f 0%, #cf0404 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff8a7f 0%, #cf0404 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff8a7f 0%, #cf0404 100%);
	/* IE10+ */
	background: linear-gradient(top, #ff8a7f 0%, #cf0404 100%); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#ff8a7f', endColorstr = '#cf0404', GradientType = 0 ); /* IE6-9 */
}

#menu ul li:hover {
	background: #ffd7d3; /* Old browsers */
	background: -moz-linear-gradient(top, #ffd7d3 0%, #cf0404 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd7d3),
		color-stop(100%, #cf0404) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffd7d3 0%, #cf0404 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffd7d3 0%, #cf0404 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffd7d3 0%, #cf0404 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffd7d3 0%, #cf0404 100%); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#ffd7d3', endColorstr = '#cf0404', GradientType = 0 ); /* IE6-9 */
}

#menu ul li:hover a {
	
}

#menu ul li a {
	display: inline-block;
	line-height: 40px;
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
	font-weight: bold;
}
/*
** CONTENT
*/
#content {
	width: 1000px;
	padding: 15px;
	margin: 0 auto 15px auto;
	border: 2px solid #aaaaaa;
	background: #ffffff;
}

#roomsTable, .redTable {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

#roomsTable tr, .redTable tr {
	border-left: 1px solid #aaaaaa;
}

#roomsTable td.header, .redTable td.header {
	background: #E86D6D;
	padding: 5px;
	border-right: 1px solid #aaaaaa;
	font-weight: bold;
	text-align: center;
}

#roomsTable td.checkbox {
	width: 10px;
}

#roomsTable td.header a {
	text-decoration: none;
	color: #000000;
	display: inline-block;
	width: 100%;
}

#roomsTable td.center, .redTable td.center {
	text-align: center;
}

#roomsTable tr:nth-child(2n+1), .redTable tr:nth-child(2n+1) {
	background: #f5f5f5;
}

#roomsTable tr:nth-child(2n), .redTable tr:nth-child(2n) {
	background: #ededed;
}

#roomsTable tr:hover, .redTable tr:hover {
	background: #F09E9E;
}

#roomsTable td, .redTable td {
	padding: 3px;
	border-right: 1px solid #aaaaaa;
}



/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}

form .error,form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message {
	color: #fff;
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px;
}
.success {
	border: 1px solid #3b8230;
	background: #76bf6b; /* Old browsers */
	background: -moz-linear-gradient(top, #76bf6b 0%, #3b8230 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76bf6b), color-stop(100%,#3b8230)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #76bf6b 0%,#3b8230 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #76bf6b 0%,#3b8230 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #76bf6b 0%,#3b8230 100%); /* IE10+ */
	background: linear-gradient(top, #76bf6b 0%,#3b8230 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76bf6b', endColorstr='#3b8230',GradientType=0 ); /* IE6-9 */
}
.errorMessage {
	border: 1px solid #930000;
	background: #e54444; /* Old browsers */
	background: -moz-linear-gradient(top, #e54444 0%, #d80000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e54444), color-stop(100%,#d80000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e54444 0%,#d80000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e54444 0%,#d80000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e54444 0%,#d80000 100%); /* IE10+ */
	background: linear-gradient(top, #e54444 0%,#d80000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54444', endColorstr='#d80000',GradientType=0 ); /* IE6-9 */
}
.warning {
	border: 1px solid #BFB500;
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00),to(#E6B800) );
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
}

.cake-error,.cake-debug,p.error,.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00),to(#E6B800) );
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.cake-error,p.error,.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b),
		to(#c43c35) );
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.error-message {
	display: inline-block;
	font-style: italic;
}

.error {
	margin-bottom: 10px;
	border: 1px solid #ee5f5b;
}

.error fieldset {
	display: inline-block;
	width: 700px;
}

p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}

p.error em {
	font-weight: normal;
	line-height: 140%;
}

.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}

.profilePhoto {
	background: #f0f0f0;
	padding: 5px;
	margin: 0 10px 10px 0;
	border: 1px solid #aaaaaa;
	max-width: 120px;
	max-height: 120px;
}

.profileName {
	color: #2D7BE1;
}

a.back {
	margin-top: 15px;
	margin-left: 5px;
	display: block;
	width: 70px;
}
.arrowPosition {
	float: left;
	margin-right: 5px;
}
#error {
	display: none;
}